@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Roboto", sans-serif;
    src: url("/assets/fonts/index.ts");
}

@font-face{
    font-family: "Roboto Serif", serif;
    src: url("/assets/fonts/RobotoSerif-Regular.ttf");
}

body{
    background: #EAEAEA;
}

htm{
    scroll-behavior: smooth !important;
}

h1{
    @apply text-[40px]
}
