@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/assets/fonts/index.ts");
}

@font-face {
    font-family: "Roboto Serif", serif;
    src: url("/assets/fonts/RobotoSerif-Regular.ttf");
}

body {
    background: #EAEAEA;
}

htm {
    scroll-behavior: smooth !important;
}

h1 {
    @apply text-[32px];
}

h2 {
    @apply text-[24px];
}

h3 {
    @apply text-[20px];
}

p {
    @apply text-[16px];
}

caption {
    @apply text-[12px];
}

.agriImage {
    @apply w-[180px] h-[180px] lg:w-[150px] lg:h-[150px];
}

.nav-btn {
    display: block;
    position: absolute;
    z-index: 20;
    user-select: none;
    -webkit-user-select: none;
    background-color: #0A611D;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
    transition: background 0.5s ease;
    color: #f5f5f5;
    padding: 0.5rem;
    font-size: 2rem;

    @media screen and (max-width: 768px) {
        font-size: 1rem;
    }


}

.nav-btn:hover {
    background-color: #C7FBCF;
    color: #0A611D;
}

.nav-btn.custom-prev-button {
    bottom: 15px;
    left: 40%;

    @media screen and (max-width: 496px) {
        left: 30%;

    }
}

.nav-btn.custom-next-button {
    right: 40%;
    bottom: 15px;

    @media screen and (max-width: 496px) {
        right: 30%;

    }
}

.home-nav-btn {
    display: block;
    position: absolute;
    z-index: 20;
    user-select: none;
    -webkit-user-select: none;
    background-color: #ffffff45;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
    transition: background 0.5s ease;
    color: #ffffff;
    padding: 0.5rem;
    font-size: 2rem;
    @media screen and (max-width: 699px) {
        font-size: 1rem;
        }
}

.home-nav-btn:hover {
    background-color: #73097575;
}

.home-nav-btn.home-prev-button {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;

    @media screen and (max-width: 699px) {
        top: 32%;
    }
}

.home-nav-btn.home-next-button {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 699px) {
        top: 32%;
    }
}