@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Roboto", sans-serif;
    src: url("/assets/fonts/index.ts");
}

@font-face{
    font-family: "Roboto Serif", serif;
    src: url("/assets/fonts/RobotoSerif-Regular.ttf");
}

body{
    background: #EAEAEA;
}

htm{
    scroll-behavior: smooth !important;
}

h1{
    @apply text-[32px];
}
h2{
    @apply text-[24px];
}
h3{
    @apply text-[20px];
}
p{
    @apply text-[16px];
}
caption{
    @apply text-[12px];
}